body {
	margin: 20px 0px;
}

.project-column {
	padding: 10px;
	background-color: #d1d5da;
}

.col-title {
	font-size: 22px; 
}

.card {
	font-size: 14px;
	margin: 10px 0px;
	padding: 10px;
	background-color: #fff;
}

.project-column,
.card {
	border: 1px solid #e1e4e8;
	border-radius: 5px;
}

.card h2 {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 15px;
}

.card .project {
	margin-bottom: 15px;
} 

.card a {
	color: #357dd4;
}

.card a:hover {
	text-decoration: underline;
	color: #249252;
}

@media only screen and (max-width: 1200px) {
	body {
		margin: 0px;
	}
	.project-column {
		margin: 25px;
	}
}